Source: ovotext
Maintainer: marco caselli <marcocas@gmail.com>
Section: editors
Priority: optional
Standards-Version: 1.4.0
Build-Depends: fpc, lazarus, lcl, lcl-utils, debhelper (>= 8)

Package: ovotext
Version: 0.1.0
Section: editors
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Maintainer: marco caselli <marcocas@gmail.com>
Description: ovotext is a simple text editor written in Lazarus/FreePascal. 
 .
 Some features:
 .
  * Tabbed editor
  * Syntax highligthing for a lot of programming languages and file formats
  * Export formatted text to RTF or HTML file/clipboard
  * Undo/Redo support
  * Tools for text editing (change line endings, native XML/JSON/SQL beautifier, sort, change case and so on)
  * Support for various encoding (UTF-8, UCS2, ISO-8859-1, ecc.)
  * Print with syntax highligthing

